@import '~@fluentui/react/dist/sass/References.scss';
//@import '~@bootstrap/dist/css/bootstrap.min.css';


.projectDashboard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

h2 {
  margin: 5px;
}

.buttons {
  padding-top: 10px;
  > button {
    margin-right: 10px;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 2px;
  margin: 0px;
  min-height: 100px;
  justify-content: start;
  align-items: start;
  overflow: auto;
}

.pilaCard {
  background-color: #ffffcc;
  border-radius: 0px;
  border-color:#333;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.89);
  width: 120px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
}
.pilaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.rowContainer {
  display: flex;
  flex-direction: row;
}
.columnContainer {
  display: flex;
  flex-direction: column;
}


.ed2Card {
  background-color: #ffffff;
  border-radius: 2px;
  border-color:#333;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.89);
  padding: 15px;
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
}

.ed2Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.ed2Card h3 {
  margin: 2px;
}
.ed2Card p {
  font-size: 10px;
}

.pilaCard h3 {
  margin: 2px;
}
.pilaCard p {
  font-size: 10px;
}
.cardHeader {
  background-color: #56b3fa; /* Estilo destacado */
  color: #ffffff;
  padding: 5px;
  height: 40px;
  border-radius: 8px 8px 0 0;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.cardContent {
  padding: 0px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.cardContent p {
  margin: 0;
}
.cardContent h5 {
  margin: 5px 10px 2px 10px;
  color: darkblue;
  font-size: 14px;
  margin: 0;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}


.greenFont {
  color: darkgreen;
}

.yellowFont {
  color: darkorange;
}

.redFont {
  color: darkred;
}

.whiteFont {
  color: whitesmoke;
}

.blackFont {
  color: black;
}

.myComponent {
  padding: 20px;
  font-family: Arial, sans-serif;

  .myButton {
    background-color: #0078d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #005a9e;
    }
  }

  .error {
    color: red;
    margin-top: 10px;
  }

  .listContainer {
    margin-top: 20px;
    padding: 0;
    list-style: none;

    .listItem {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.ed2Table {
  width: 100%;
  border: 1px solid #ddd; /* Añade el borde */
  background-color: whitesmoke;
}

.ed2Table th, .ed2Table td {
  border: 1px solid #ddd; /* Añade el borde */
  padding: 8px;           /* Da un espacio interno a las celdas */
  text-align: left;       /* Alinea el contenido a la izquierda */
  size: 10px;
}

.ed2Table tr:hover {
  background-color: #f1f1f1; /* Efecto hover */
}

.table-active {
  background-color: #cce5ff; /* Fondo para filas activas */
}

.table-bordered {
  background-color: #cce5ff; /* Fondo para filas activas */
  border: 1px solid #ddd; /* Añade el borde */
}

.task-card {
  background: #f4f6f8;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: Arial, sans-serif;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.task-title {
  margin: 0;
  color: #0078d4;
  font-size: 18px;
  font-weight: bold;
}

.task-card p {
  margin: 8px 0;
  font-size: 14px;
  color: #4a4a4a;
}

.task-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #0078d4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.task-button:hover {
  background-color: #005a9e;
}

